# Archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
env/
.venv/

# Archivos del editor VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos temporales
*.swp
*.bak
*.tmp

# Archivos compilados
*.so
